/* CausesPage.css */

/* Container styles */
.cause-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Cause card styles */
.cause-info {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.header {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

/* Image styles */
.cause-info img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


/* Update and delete button styles */
.update-button,
.delete-button,
.details-button{
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 0;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  background-color: #007bff;
}


/* Add cause button styles */
.add-cause-button {
  display: block;
  margin: 20px auto;
  padding: 12px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.add-cause-button:hover {
  background-color: #0056b3;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:hover {
  background-color: #f5f5f5;
  color: #007bff;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
  .cause-info-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .cause-info img {
    height: 150px;
  }
}

/* Search bar container styles */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Search bar input styles */
.search-bar-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Search bar button styles */
.search-bar-button {
  background-color: #007bff; /* Blue color */
  color: #fff; /* White color */
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.search-bar-button:hover {
  background-color: #0056b3; /* Darker blue color */
}