.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-us-container h2,
.about-us-container h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about-us-container p {
  color: #444;
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 20px;
}

.team-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.team-member,
.founder {
  text-align: center;
}

.team-member img,
.founder img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h4,
.founder h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.founder p {
  font-size: 17px;
  max-width: 280px;
}

.founders-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .team-container,
  .founders-container {
    flex-direction: column;
    align-items: center;
  }
}

.aboutUs-h3{
  margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 26px;
}

.founder{
  margin-left: 10px;
  margin-right: 20px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
}

.about-us-section {
  flex: 1;
  margin: 0 60px;
  width: 300px;
}

.about-us-section h2,
.about-us-section h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}

.about-us-section p {
  color: #444;
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 24px;
}
