h1{
    margin-bottom: 50px;
    
}

.header-menu {
    max-width: 1200px;
    text-align: center;
    padding: 100px 46px;
    margin: 0 auto;
    background-color: #f5f5f5;
  }

.description {
    margin-top: 20px;
}

.carousel {
    width: 80%;
    margin: auto;
}

.carousel .slide {
    max-width: 750px;
}

.carousel .slide img {
    max-height: 400px;
    max-width: 900px;
}

.carousel .carousel-root {
    width: 100%;
}

.carousel .control-prev,
.carousel .control-next {
    background-color: transparent !important;
    color: #000 !important;
}

.carousel .control-prev:before,
.carousel .control-next:before {
    content: '';
    display: inline-block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    width: 0;
    height: 0;
    margin: 4px;
}

.carousel .control-prev:before {
    border-right: 4px solid #000 !important;
}

.carousel .control-next:before {
    border-left: 4px solid #000 !important;
}